.Eventbrite {
  background-color: #d4b057;
  width: max-content;
  margin: 0 auto;
}
a {
  color: green;
}
button {
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
}
button:hover {
  margin: 20px;
  padding: 10px;
  background-color: black;
  border: #f1f1f2;
  border-radius: 5px;
}

@media (max-width: 800px) {
  button {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
  }
  a {
    font-size: smaller;
  }
}
