.Footer-logos {
  width: 40px;
  padding-top: 2px;
}
.Footer {
  margin-top: 10px;
  padding: 10px 0;
  font-weight: 500;
  background-color: #f1f1f2;
}

@media (max-width: 800px) {
  .Footer-logos {
    width: 25px;
    padding-top: 2px;
  }
  .Footer {
    font-weight: 500;
    font-size: smaller;
  }
  .footer-info {
    font-size: smaller;
  }
}
